@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
:root {
    --bg-color-main: #F9F2ED;
    --bg-color-aside: #1363DF;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.header-container {
    grid-column: 2/4;
}

.sidebar-container {
    grid-column: 1/2;
    grid-row: 1;
}

.content-container {
    grid-column: 2/4;
}

